<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
<configSections>
</configSections>
<connectionStrings>
    <add name="ModeConnecte202.Properties.Settings.librairieConnectionString"
        connectionString="CQhCGBucYtWhIUvsYjqGz2x02z8ikMzLmrB1RN9m30JjwIc37bEZJ/v6Kumkh8Yv5hQvJrPzGpRjXgd/uFNCkl4RBINYBO6lN8+w3JtvbLkiS9bH4oh5BA=="
        providerName="System.Data.SqlClient" />
  
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
</configuration>
